doctype
html
	head
		title= title
		link(rel="icon" href="")
		// link(rel="icon" href="URL IMAGE HERE")
			 
		link(rel="stylesheet",
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css",
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO",
			crossorigin="anonymous")
			
		script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js",
				integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo",
				crossorigin="anonymous")
				
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js",
				integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49",
				crossorigin="anonymous")
				
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js",
				integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy",
				crossorigin="anonymous")
			
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

	body
		div.container-fluid.col-sm-10.content
			h3 Record ID: 
					=rec_id
			input#record_ID.form-control(type="hidden" name='record_ID' value=rec_id readonly)
			if data.notes
				div.container-fluid.mainbox.bordered.col-sm-10
					div.title Notes
				div.container-fluid.col-sm-10.content
					=data.notes
				
			
			if data.picture
				div.container-fluid.mainbox.bordered.col-sm-10
					div.title Picture
				div.container-fluid.col-sm-10.content
					each pic in data.picture
						img(src='/uploads/pictures' +'/' + pic, width="100%", alt='Img loading error')

			a(href="/edit_notes/"+ rec_id)
							button.btn.btn-primary(type='button') EDIT